<h2>
NASA Data
</h2>
<br />
Satelite Image
<br />
<%= image_tag @data[:nasa_img] %>
<br />
Image Date: <%= @data[:nasa_img_date] %>
<br />
Estimated Cloud Cover: <%= @data[:nasa_cloud_cover] %>
<br />